main#contact-us {
    width: 100%;
    height: auto;
    
    background-image: url("../../img/bg/bg5.jpg");
    background-position: top;
    background-repeat: repeat;
    background-size: auto;

    .contact-us {
        padding-bottom: 30px;

        .wrapper {
            width: 90%;
            display: flex;
            justify-content: space-between;
            // border: 1px solid red;
            margin: 20px auto;
            
            

            .content {
                display: block;
                background-color: $whiteDark;
                border-radius: 10px;

                &.message {
                    width: 65%;
                    margin-right: 5%;
                }

                &.check-inquiry {
                    width: 30%;
                    height: 20%;
                }


                form {
                    width: 100%;
                    padding: 20px;
                    border-radius: 10px;
                    font-size: 18px;

                    display: flex;
                    flex-flow: column;

                    .subject {
                        input {
                            margin-left : 20px;
                        }
                    }

                    .rcode {
                        display: none;
                    }

                    label, span {
                        margin-bottom: 2px;
                        // font-weight: 500;
                        font-family: $robotob;
                    }

                    input, select, option, textarea {
                        word-wrap: wrap;
                        padding: 10px;
                        margin-bottom: 15px;
                        font-size: 18px;
                    }

                    option {
                        font-size: 22px;
                    }

                    textarea {
                        min-height: 100px;
                        height: auto;
                        font-family: $roboto;
                        resize: none;
                    }

                    .button {
                        padding: 5px 10px !important;
                        // margin: 0 30%;
                        width: 100%;
                        margin-bottom: 0;
                        text-align: center;
                        font-family: $fonarto;
                        font-size: 22px;
                        color: $primaryDark;
                        // background-color: white;
                        border: 2px solid $primaryAccent;
                        border-radius: 5px;
                        cursor: pointer;

                        &:hover {
                            color: white;
                            background-color: $primaryAccent;
                            border: 2px solid $primaryDark;
                            border-radius: 5px;
                        }
                    }
    
                }
            }
        
        }
    }
}

@media only screen and (max-width: 992px) {
    main#contact-us {
        .contact-us {
            .wrapper {
                flex-flow: column;

                .content {
                    width: 100% !important;
                }
                
                .message {
                    order: 2;
                    margin-top: 20px;
                }
            }
        }
    }   
}
