/* -- GALLERY -- */
main#gallery {
    width: 100%;
    height: auto;
    // padding: 30px 0;
    
        background-image: url("../../img/bg/bg5.jpg");
        background-position: top;
        background-repeat: repeat;
        background-size: auto;

    .site-gallery {
        padding-bottom: 30px;
        // border: 1px solid red;
        .container {
            .content {
                width: 90%;
                margin: 20px auto;
                background-color: $whiteDark;
                border-radius: 10px;
            
                .wrapper {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
                    grid-gap: 15px;
                    grid-auto-flow: dense;
                    padding: 20px;

                    .box {
                        border-radius: 5px;
                        height: 230px;
                        position: relative;
                        overflow: hidden;

                        &:hover {
                            opacity: 0.7;
                        }

                        img {
                            border: 2px solid $primaryDark;
                            border-radius: 5px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 150px;
                            object-fit: cover;
                            cursor: pointer;
                        }

                        &::after {
                            content: '';
                            display: block;
                            padding-top: calc(100% / (16/10));
                        }

                        h3, p {
                            text-align: left;
                        }

                        .album-title {
                            margin-top: 160px;
                            text-align: left;
                            color: $primaryAccent;
                        }

                        .items {
                            margin-top: 3px;
                            font-weight: 700;
                            font-size: 16px;
                            color: black;
                        }
                    }
                }
                
            }
        }
    }
}

@media all and (min-width: 992px) {
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 576px) {

}