// font family
$title-font: 'Fonarto Regular', sans-serif;
$text-font: 'Roboto Regular', sans-serif;
$script-font: 'Yananeska-Personal-Use';

$fonarto: 'Fonarto Regular';
$roboto: 'Roboto Regular';
$robotob: 'Roboto Bold';
$robotom: 'Roboto Medium';
$yps: 'Yananeska-Personal-Use'; 


// color variables
$primary: #84C620;
$primaryDark : #70AA17;
$primaryAccent: #1182DF;

$whiteDark : #E1E1E1;
$blackLight : #333333;

$blue: #2BA7DD;
$orange: #DA3505;
$green: #18A851;
$red: #FF0000;



